.navbar-buyer {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 50px;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 38px;
    margin-right: 8px;
  }
  
  .logo-text {
    font-size: 20px;
    font-weight: 600;
    color: #1b1b1b;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .create-rfq-btn {
    background-color: #EDF5FF;
    color: #194185;
    border: 2px solid #194185;
    border-radius: 10px;
    padding: 2px 16px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-family: Smedium ;
  }
  
  .plus-icon {
    font-size: 22;
  }
  
  .icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .create-rfq-btn {
      padding: 6px 12px;
      font-size: 13px;
    }
  
    .icon {
      width: 20px;
      height: 20px;
    }
  }
  